<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description }}</p>
      </div>
      <div class="footer-col" style="text-align: right;">
        <a href="https://github.com/mercado-log" target="_blank">
          <img src="https://cdn.simpleicons.org/github/000000" width="20" height="20" alt="GitHub" style="margin-right: 10px;">
        </a>
        <a href="https://www.linkedin.com/in/gabriel-mercado0" target="_blank">
          <img src="https://cdn.simpleicons.org/linkedin/0A66C2" width="20" height="20" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>
</footer>
